<div class="panel-body bio-graph-info">
    <h1>User Profile</h1>
    <div class="row">
        <div class="bio-row">
            <p><span>First Name </span>: User</p>
        </div>
        <div class="bio-row">
            <p><span>Last Name </span>: User</p>
        </div>
        <div class="bio-row">
            <p><span>Country </span>: India</p>
        </div>
        <div class="bio-row">
            <p><span>Role </span>: User</p>
        </div>
        <div class="bio-row">
            <p><span>Email </span>: user@gmail.com</p>
        </div>
        <div class="bio-row">
            <p><span>Mobile </span>: +91 1234567890</p>
        </div>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
        <div>------</div><br>
    </div>