<form>
    <div class="form-group row" [formGroup]="ProductForm">

        <div class="col-md-6">
            <!-- <label class="col-sm-2 col-form-label mb-3"> Id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="productId" placeholder="Enter Product Id">
            </div> -->
            <label class="col-sm-2 col-form-label mb-3"> Category</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="category" placeholder="Enter Product category">
            </div>
            <label class="col-sm-2 col-form-label mb-3"> Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="productName" placeholder="Enter Product Name">
            </div>
            <label class="col-sm-2 col-form-label mb-3"> Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="price" placeholder="Enter Product Price">
            </div>
            <label class="col-sm-2 col-form-label mb-3"> Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="description" placeholder="Enter Product Description">
            </div>
            <label class="col-sm-2 col-form-label mb-3"> Image</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="productImage" placeholder="Enter Product Image">
            </div>

        </div>
    </div>
</form>
<button (click)="AddProduct()" class="btn btn-primary" style="background-color:rgb(0, 90, 0);">Add Product</button>
<!-- https://5.imimg.com/data5/VN/YP/MY-33296037/orange-600x600-500x500.jpg -->